.DS_Store
.idea
test/test.cfg
test_local
__pycache__
.vscode
deploy.cfg
.coverage
test/test_temp/


cdr/cdm/jupyter/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.project
/.pydevproject*
/.pytest_cache/
/.settings/

/.venv/