[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark= "==3.5.4"

[dev-packages]
pytest = "==8.3.5"
coverage = "==7.8.0"
pytest-cov = "==6.1.1"
ipython = "==8.31.0"

[requires]
python_version = "3.11"
